<form action="" method="post">
    {% csrf_token %}
    <label for="amount">Кількість:</label>
    <input type="number" id="amount" name="amount" required>
    <label for="from_currency">З валюти:</label>
    <select id="from_currency" name="from_currency" required>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select>
    <label for="to_currency">У валюту:</label>
    <select id="to_currency" name="to_currency" required>
        <option value="UAH">UAH</option>
        <option value="EUR">EUR</option>
    </select>
    <input type="submit" value="Обміняти">
</form>
{% if amount_in_to_currency %}
    <p>Кількість {{ amount }} {{ from_currency }} у {{ to_currency }} становить {{ amount_in_to_currency }}</p>
{% endif %}
